## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df_clean=application_df.drop(columns=["EIN"])

In [5]:
#check value counts of specific columns(STATUS and SPRECIAL CONSIDERATIONS)
app_df_clean['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [7]:
app_df_clean['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [8]:
app_df_clean=app_df_clean.drop(columns=['STATUS', 'SPECIAL_CONSIDERATIONS'])
app_df_clean.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [14]:
# Look at NAME value counts for binning
name_counts=app_df_clean['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [13]:
name_counts[name_counts<10]

HEALTH CARE FOR ALL-CALIFORNIA                                          9
PHI ETA SIGMA NATIONAL HONOR SOCIETY INC                                9
RECREATION CENTERS OF SUN CITY INC                                      9
ASSOCIATION OF SCHOOL BOOSTER CLUBS                                     9
INTERNATIONAL SOCIETY DAUGHTERS OF UTAH PIONEERS                        9
                                                                       ..
ST LOUIS SLAM WOMENS FOOTBALL                                           1
AIESEC ALUMNI IBEROAMERICA CORP                                         1
WEALLBLEEDRED ORG INC                                                   1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI    1
WATERHOUSE CHARITABLE TR                                                1
Name: NAME, Length: 19346, dtype: int64

In [15]:
# Choose a cutoff value and create a list of NAME to be replaced
# replace if counts are less than 10
# use the variable name `name_to_replace`
names_to_replace = list(name_counts[name_counts <10].index)
# Replace in dataframe
for app in names_to_replace:
    app_df_clean['NAME'] = app_df_clean['NAME'].replace(app,"Other")

# Check to make sure binning was successful
app_df_clean['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [16]:
# Review APPLICATION_TYPE value counts for binning
app_type_counts = app_df_clean['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Choose a cutoff value and create a list of application to be replaced
# use the variable name `app_types_to_replace`
app_types_to_replace = list(app_type_counts[app_type_counts < 500].index)


# Replace in dataframe
for cls in app_types_to_replace:
    app_df_clean['APPLICATION_TYPE'] = app_df_clean['APPLICATION_TYPE'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df_clean['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_df_clean['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# Choose a cutoff value and create a list of CLASSIFICAION to be replaced
# use the variable name `class_to_replace`
class_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in class_to_replace:
    app_df_clean['CLASSIFICATION'] = app_df_clean['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df_clean['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df_clean = pd.get_dummies(app_df_clean)
app_df_clean.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [23]:
# Split our preprocessed data into our features and target data
X = app_df_clean.drop(columns=['IS_SUCCESSFUL']).values
y = app_df_clean['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
X.shape

(34299, 263)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = 263 # X.shape
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=num_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                21120

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 8)                 248

 dense_3 (Dense)             (None, 1)                 9

=================================================================
Total params: 23,807
Trainable params: 23,807
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 8s 5ms/step - loss: 0.5082 - accuracy: 0.7655
Epoch 2/200
804/804 [==============================] - 5s 6ms/step - loss: 0.4595 - accuracy: 0.7826
Epoch 3/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4511 - accuracy: 0.7835
Epoch 4/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4465 - accuracy: 0.7853
Epoch 5/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4440 - accuracy: 0.7863
Epoch 6/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4417 - accuracy: 0.7864
Epoch 7/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4400 - accuracy: 0.7870
Epoch 8/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4388 - accuracy: 0.7873
Epoch 9/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4374 - accuracy: 0.7885
Epoch 10/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4368 - accuracy: 0.7890
Epoch 11/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4359 - accuracy: 0.7871
Epoch 12/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4348 - accuracy: 0.7902
Epoch 13/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4343 - accuracy: 0.7877
Epoch 14/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4335 - accuracy: 0.7894
Epoch 15/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4330 - accuracy: 0.7902
Epoch 16/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4324 - accuracy: 0.7905
Epoch 17/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4314 - accuracy: 0.7904
Epoch 18/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4312 - accuracy: 0.7911
Epoch 19/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4306 - accuracy: 0.7904
Epoch 20/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4302 - accuracy: 0.7908
Epoch 21/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4299 - accuracy: 0.7901
Epoch 22/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4291 - accuracy: 0.7922
Epoch 23/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4287 - accuracy: 0.7919
Epoch 24/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4283 - accuracy: 0.7910
Epoch 25/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4280 - accuracy: 0.7921
Epoch 26/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4274 - accuracy: 0.7925
Epoch 27/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4272 - accuracy: 0.7918
Epoch 28/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4265 - accuracy: 0.7927
Epoch 29/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4268 - accuracy: 0.7925
Epoch 30/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4258 - accuracy: 0.7934
Epoch 31/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4255 - accuracy: 0.7945
Epoch 32/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4255 - accuracy: 0.7942
Epoch 33/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4248 - accuracy: 0.7939
Epoch 34/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4247 - accuracy: 0.7940
Epoch 35/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4242 - accuracy: 0.7950
Epoch 36/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4244 - accuracy: 0.7940
Epoch 37/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4236 - accuracy: 0.7939
Epoch 38/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4234 - accuracy: 0.7947
Epoch 39/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4231 - accuracy: 0.7954
Epoch 40/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4225 - accuracy: 0.7955
Epoch 41/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4223 - accuracy: 0.7945
Epoch 42/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4224 - accuracy: 0.7956
Epoch 43/200
804/804 [==============================] - 4s 4ms/step - loss: 0.4217 - accuracy: 0.7947
Epoch 44/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4219 - accuracy: 0.7951
Epoch 45/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4214 - accuracy: 0.7950
Epoch 46/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4211 - accuracy: 0.7966
Epoch 47/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4209 - accuracy: 0.7958
Epoch 48/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4207 - accuracy: 0.7958
Epoch 49/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4207 - accuracy: 0.7954
Epoch 50/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4204 - accuracy: 0.7958
Epoch 51/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4202 - accuracy: 0.7968
Epoch 52/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4203 - accuracy: 0.7965
Epoch 53/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4200 - accuracy: 0.7958
Epoch 54/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4202 - accuracy: 0.7965
Epoch 55/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4199 - accuracy: 0.7956
Epoch 56/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4196 - accuracy: 0.7967
Epoch 57/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4194 - accuracy: 0.7973
Epoch 58/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4193 - accuracy: 0.7977
Epoch 59/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4191 - accuracy: 0.7972
Epoch 60/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7971
Epoch 61/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4188 - accuracy: 0.7971
Epoch 62/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.7971
Epoch 63/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4185 - accuracy: 0.7967
Epoch 64/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4181 - accuracy: 0.7979
Epoch 65/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4185 - accuracy: 0.7978
Epoch 66/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7969
Epoch 67/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4183 - accuracy: 0.7966
Epoch 68/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4185 - accuracy: 0.7980
Epoch 69/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4184 - accuracy: 0.7972
Epoch 70/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.7981
Epoch 71/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4178 - accuracy: 0.7976
Epoch 72/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4175 - accuracy: 0.7972
Epoch 73/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4177 - accuracy: 0.7973
Epoch 74/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.7979
Epoch 75/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4175 - accuracy: 0.7980
Epoch 76/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4178 - accuracy: 0.7973
Epoch 77/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4174 - accuracy: 0.7977
Epoch 78/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4176 - accuracy: 0.7969
Epoch 79/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4174 - accuracy: 0.7975
Epoch 80/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4172 - accuracy: 0.7969
Epoch 81/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7977
Epoch 82/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4170 - accuracy: 0.7981
Epoch 83/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4168 - accuracy: 0.7986
Epoch 84/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4169 - accuracy: 0.7983
Epoch 85/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.7977
Epoch 86/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4167 - accuracy: 0.7978
Epoch 87/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4178 - accuracy: 0.7979
Epoch 88/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4168 - accuracy: 0.7981
Epoch 89/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4162 - accuracy: 0.7987
Epoch 90/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4164 - accuracy: 0.7980
Epoch 91/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7977
Epoch 92/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7979
Epoch 93/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4162 - accuracy: 0.7982
Epoch 94/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4161 - accuracy: 0.7983
Epoch 95/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7986
Epoch 96/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7983
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7980
Epoch 98/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7980
Epoch 99/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7979
Epoch 100/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4160 - accuracy: 0.7983
Epoch 101/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.7982
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7978
Epoch 103/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7984
Epoch 104/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4162 - accuracy: 0.7984
Epoch 105/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7985
Epoch 106/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.7980
Epoch 107/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4159 - accuracy: 0.7979
Epoch 108/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.7984
Epoch 109/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7985
Epoch 110/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7991
Epoch 111/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7987
Epoch 112/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7985
Epoch 113/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4156 - accuracy: 0.7989
Epoch 114/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.7989
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7986
Epoch 116/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7985
Epoch 117/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7987
Epoch 118/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7985
Epoch 119/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7990
Epoch 120/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4150 - accuracy: 0.7986
Epoch 121/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.7988
Epoch 122/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7982
Epoch 123/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7986
Epoch 124/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7986
Epoch 125/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7989
Epoch 126/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7987
Epoch 127/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4147 - accuracy: 0.7989
Epoch 128/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7986
Epoch 129/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7991
Epoch 130/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7991
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7990
Epoch 132/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7987
Epoch 133/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4148 - accuracy: 0.7985
Epoch 134/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.7999
Epoch 135/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7991
Epoch 136/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7986
Epoch 137/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7993
Epoch 138/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7983
Epoch 139/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7993
Epoch 140/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4146 - accuracy: 0.7994
Epoch 141/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7991
Epoch 142/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7991
Epoch 143/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7989
Epoch 144/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7988
Epoch 145/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7994
Epoch 146/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7991
Epoch 147/200
804/804 [==============================] - 3s 3ms/step - loss: 0.4146 - accuracy: 0.7989
Epoch 148/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7984
Epoch 149/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7990
Epoch 150/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7989
Epoch 151/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7986
Epoch 152/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4146 - accuracy: 0.7988
Epoch 153/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.7982
Epoch 154/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4146 - accuracy: 0.7993
Epoch 155/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7989
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7983
Epoch 157/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7987
Epoch 158/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.7989
Epoch 159/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.7991
Epoch 160/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4152 - accuracy: 0.7984
Epoch 161/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.7986
Epoch 162/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7986
Epoch 163/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7986
Epoch 164/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7984
Epoch 165/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7987
Epoch 166/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7994
Epoch 167/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4154 - accuracy: 0.7985
Epoch 168/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.7990
Epoch 169/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7988
Epoch 170/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7990
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7987
Epoch 172/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7989
Epoch 173/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4147 - accuracy: 0.7989
Epoch 174/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4154 - accuracy: 0.7988
Epoch 175/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7989
Epoch 176/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7990
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7982
Epoch 178/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7985
Epoch 179/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.7992
Epoch 180/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4148 - accuracy: 0.7990
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7989
Epoch 182/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7985
Epoch 183/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7987
Epoch 184/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7987
Epoch 185/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7996
Epoch 186/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4148 - accuracy: 0.7991
Epoch 187/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4146 - accuracy: 0.7991
Epoch 188/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.7994
Epoch 189/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7991
Epoch 190/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4154 - accuracy: 0.7986
Epoch 191/200
804/804 [==============================] - 2s 3ms/step - loss: 0.4152 - accuracy: 0.7993
Epoch 192/200
804/804 [==============================] - 3s 4ms/step - loss: 0.4151 - accuracy: 0.7984
Epoch 193/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7989
Epoch 194/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7989
Epoch 195/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7991
Epoch 196/200

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4695 - accuracy: 0.7834 - 549ms/epoch - 2ms/step
Loss: 0.46951761841773987, Accuracy: 0.7834402322769165

In [33]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")